// Based on:
// https://github.com/material-components/material-components-web/blob/master/packages/mdc-elevation/_elevation-theme.scss

@use "sass:color";
@use "theme";

$_umbra-color: rgba(black, .2);
$_penumbra-color: rgba(black, .14);
$_ambient-color: rgba(black, .12);

$z0: none;
$z1: none;
$z2: none;
$z3: none;
$z4: none;
$z6: none;
$z8: none;
$z12: none;
$z16: none;
$z24: none;

$text-shadow: none;

// workaround for selection-mode checkboxes
$icon-shadow-z2: none;
$icon-shadow-z4: none;

// Note that GTK 3 does not support blur below 2px,
// and its blur is huge compared to web rendering.
// See: https://gitlab.gnome.org/GNOME/gtk/issues/511
@if theme.$toolkit == "gtk3" {
  $z1: none;
  $z2: none;
  $z3: none;
  $z4: none;
  $z6: none;
  $z8: none;
  $z12: none;
  $z16: none;
  $z24: none;
  $text-shadow: none;
  $icon-shadow-z2: none;
  $icon-shadow-z4: none;
}

// Note that St does not support multiple box shadows.
@if theme.$toolkit == "st" {
  // This should be none, but it's creating some issues with borders, so to
  // workaround it for now, use inset wich goes through a different code path.
  // see https://bugzilla.gnome.org/show_bug.cgi?id=752934
  $z0: none;
  $z1: none;
  $z2: none;
  $z4: none;
  $z8: none;
  $z16: none;
}
